/* main styling start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,a,ul,li,div{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  background-color:#e6e6e6;

}
.body_{
  position: relative;
}
.anim{
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
/* main styling end */



/* loading styling start */
.spinner {
height: 50px;
width: max-content;
font-size: 18px;
font-weight: 600;
letter-spacing: 1em;
color: green;
filter: drop-shadow(0 0 10px);
position: absolute;
top: 50%;
left: 50%;
margin-left: -80px;
display: flex;
}
.spinner span {
animation: loading6454 1.75s ease infinite;
}
.spinner span:nth-child(2) {
animation-delay: 0.25s;
}
.spinner span:nth-child(3) {
animation-delay: 0.5s;
}
.spinner span:nth-child(4) {
animation-delay: 0.75s;
}
.spinner span:nth-child(5) {
animation-delay: 1s;
}
.spinner span:nth-child(6) {
animation-delay: 1.25s;
}
.spinner span:nth-child(7) {
animation-delay: 1.5s;
}
@keyframes loading6454 {
0%, 100% {
transform: translateY(0);
}
50% {
transform: translateY(-10px);
}
}
/* end */

/* bottom button styling part start */
.home_button{
  background-color: #ffdd00;
  padding: 18px 20px;
  width: max-content;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
/* bottom button styling part end */

/* navbar styling start */
.navbar_{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  margin-top: 20px;
  padding: 10px 20px;
}
.navbar_ ul{
  display: flex;
  align-items: center;
}
.navbar_ ul li{
  display: flex;
  align-items: center;
}
.navbar_ ul li a{
  margin: 0 10px;
  padding: 5px 8px;
  border-radius: 20px;
  transition: all ease 0.5s;
  color: black;
  font-weight: 300;
}

.navbar_ ul li a:hover{
  background-color: #ccc;
}
.navbar_ ul li a img{
  height: 30px;
}
.navbar_menu_btn{
  border: 2px solid white;
  background-color: #ffdd00;
  transition: all ease 0.5s;
}
.navbar_menu_btn:hover{
  border: 2px solid #ffdd00;
  background-color: #ffdd00!important;
}
@media screen and (max-width:992px) {
  .navbar_{
    flex-direction: column;
  }
  .navbar_ ul{
    flex-direction: column;
  }
}
/* navbar styling end */

/* content styling part start */
.content_{
  height: calc(100vh - 82px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content_1{
  font-size: 40px;
  animation-delay: 0.5s;
}
.content_2{
  font-size: 20px;
  animation-delay: 1s;
}
.content_3{
  font-size: 40px;
  animation-delay: 1.5s;
}
@media screen and (max-width:992px) {
  .content_{
    height: calc(100vh - 250px);
  }
  .content_1{
    font-size: 20px;
    font-weight: 500;
  }
  .content_2{
    font-size: 15px;
    font-weight: 300;
  }
  .content_3{
    font-size: 20px;
    font-weight: 500;
  }
}
/* content styling part end */
